body{
  margin: 0px;
  padding:0px;
  /* background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
  /* background-image: url("bimage/b2.jpg"); */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: scroll;
 overflow-x: hidden;
}
.box{
   border-radius:10px;
   box-shadow: 1px 1px 5px black;
   padding:5px;
   overflow: hidden;
   height: 400px;
   z-index: -1;
   
   /* width:1000px; */
  
}
ul,li,ul li a{
   transform: translate(30%,-100%);
   text-decoration:none;
   font-size:20px;
  list-style:none;
  font-family:arial;
  color:black;
  line-height:40px;
  /* text-align:right;  */
  
}
.product{
   border-radius:30px;
   transform: translate(10%,10%);


}
.dp{
   border-radius:30px;
   transform: translate(10%,125%);

}
.content{
   position: relative;
   margin-left: 10px;
   margin-right: 20px;
   padding:0px;
   top:90px;
   /* overflow: hidden; */
}
li span{
   color:red;
}
/* li span:hover{
   text-decoration:underline;
   transition: 3s ease;
} */
.box1{
 position: relative;
 top: -60px;
 border-radius: 5px;
   background:none;
   padding:5px;
       overflow: hidden;
       height: 400px;
       box-shadow: 1px 1px 5px black;
}
.Buy{
   position: relative;
   /* top:-10px; */
   right:0px;
   transform: translate(290%,-190%);
   left:500px;
   width:100px;
   height: 40px;
   background-color: transparent;
   border: 1px solid lightgreen;
  
}
.Buy:hover{
background-color: lightgreen;
color: #fff;
transition: 0.8s ease-in-out;

     
}
.container{
   /* display: inline; */
   /* margin:15px; */
   overflow: hidden;
}
.home,input{

  transform: translate(500px,1px);
  margin:15px;

 }  
a{
 text-decoration: none;
}
.home1{
   transform: translate(140px,10px);

}

.sidepanel  {
 width: 0;
 position: fixed;
 z-index: 2;
 height: 100%;
 top: 0;
 left: 0;
 background:linear-gradient( to right bottom,rgba(248, 0, 116,0.8) 50%,white 90%);
 /* background-color: #111; */
 overflow-x: hidden;
 transition: 0.5s;
 padding-top: 60px;
 font-family: 'Roboto', sans-serif;
 overflow: hidden;
}

.sidepanel a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #000000;
 display: block;
 transition: 0.3s;
 /* text-align: center; */
}
 
.sidepanel a:nth-child(2):hover,
a:nth-child(3):hover,
a:nth-child(4):hover,
a:nth-child(5):hover,
a:nth-child(6):hover,
a:nth-child(7):hover,
a:nth-child(8):hover
{
 color: #f1f1f1;
 background:rgb(238, 25, 78);
 transition: 0.9s ease;

}

.sidepanel .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
}

.openbtn {
 font-size: 30px;
 cursor: pointer;
 background-color: transparent;
 color: rgb(12, 12, 12);
 padding: 10px 15px;
 border: none;
 border-radius: 50%;
 position: fixed;
 left: 10px;
 top: -2px;
 z-index: 1;
 /* overflow: hidden; */
 /* padding: 20px; */
}

h1{
   font-size: 30px;
   color: #000000;
   text-transform: uppercase;
   font-weight: 300;
   text-align: center;
   margin-bottom: 15px;
 }




@media only screen and (max-width:600px) {
 body{
   margin: 0px;
   padding:0px;
   /* background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
   /* background-image: url("bimage/b2.jpg"); */
   width: 100%;
   height: 150%;
   background-size: cover;
   background-attachment: scroll;
  overflow-x: hidden;
}
  .search{
position: relative;
left:60px;
    top:-50px;
transform: translate(100%,-100%);
font-size: 20px
}  
  
.box{
    border-radius:10px;
    box-shadow: 1px 1px 5px black;
    padding:-2px;
    top: -10px;
    overflow: hidden;
    height: 350px;
    width: 350px;
    z-index: -1;
    
    /* width:1000px; */
   
}
.bookimg{
  width: 40%;
  height: 40%;
  transform: translate(50%,10%);
  border-radius: 40px;

}
ul,li,ul li a{
    transform: translate(1%,10%);
    text-decoration:none;
    font-size:13px;
   list-style:none;
   font-family:arial;
   color:black;
   line-height:20px;
   /* text-align:right;  */
   
}
.product{
    border-radius:30px;
    transform: translate(10%,10%);


}
.dp{
    border-radius:30px;
    transform: translate(10%,125%);

}
.content{
    position: relative;
    margin-left: 30px;
    margin-right: 20px;
    padding:0px;
    top:50px;
    
    /* overflow: hidden; */
}
li span{
    color:red;
}
/* li span:hover{
    text-decoration:underline;
    transition: 3s ease;
} */
.box1{
  position: relative;
  top: -60px;
  border-radius: 5px;
    background:none;
    padding:5px;
        overflow: hidden;
        height: 400px;
        box-shadow: 1px 1px 5px black;
}
.Buy{
    position: relative;
    /* top:-10px; */
    right:0px;
    transform: translate(10%,-230%);
    left:50px;
    width:100px;
    height: 40px;
    background-color: transparent;
    border: 1px solid lightgreen;
   
/* desktop */
}
.Buy:hover{
 background-color: lightgreen;
 color: #fff;
 transition: 0.8s ease-in-out;

 
}
.container{
    /* display: inline; */
    /* margin:15px; */
    overflow: hidden;
}

.home,input{

   transform: translate(500px,1px);
   margin:15px;

  }  
a{
  text-decoration: none;
}
.home1{
    transform: translate(140px,10px);

}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
  background:linear-gradient( to right bottom,rgba(248, 0, 116,0.8) 50%,white 90%);
  /* background-color: #111; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
  /* text-align: center; */
}
  
.sidepanel a:nth-child(2):hover,
a:nth-child(3):hover,
a:nth-child(4):hover,
a:nth-child(5):hover,
a:nth-child(6):hover,
a:nth-child(7):hover,
a:nth-child(8):hover
{
  color: #f1f1f1;
  background:rgb(238, 25, 78);
  transition: 0.9s ease;

}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(12, 12, 12);
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  position: fixed;
  left: 10px;
  top: -2px;
  z-index: 1;
  /* overflow: hidden; */
  /* padding: 20px; */
}
 h1{
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  transform: translate(-20%,10%);
  /* left:-15px; */
}


 }
 
@media(min-width:600px)
{
   body{
     margin: 0px;
     padding:0px;
     /* background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
     /* background-image: url("bimage/b2.jpg"); */
     width: 100%;
     height: 100%;
     background-size: cover;
     background-attachment: scroll;
    overflow-x: hidden;
  }
  .search{
position: relative;
left:60px;
    top:-50px;
transform: translate(100%,-100%);
font-size: 30px
}  
  
  .box{
      border-radius:10px;
      box-shadow: 1px 1px 5px black;
      padding:5px;
      overflow: hidden;
      height: 400px;
      z-index: -1;
      
      /* width:1000px; */
     
  }
  ul,li,ul li a{
      transform: translate(25%,-60%);
      text-decoration:none;
      font-size:15px;
     list-style:none;
     font-family:arial;
     color:black;
     line-height:40px;
     /* text-align:right;  */
     
  }
  .bookimg{
   width: 45%;
   height: 55%;
   transform: translate(4%,10%);
   border-radius: 40px;

 }
  .product{
      border-radius:30px;
      transform: translate(10%,10%);
  
  
  }
  .dp{
      border-radius:30px;
      transform: translate(10%,125%);
  
  }
  .content{
      position: relative;
      margin-left: 10px;
      margin-right: 20px;
      padding:0px;
      top:90px;
      /* overflow: hidden; */
  }
  li span{
      color:red;
  }
  .box1{
    position: relative;
    top: -60px;
    border-radius: 5px;
      background:none;
      padding:5px;
          overflow: hidden;
          height: 400px;
          box-shadow: 1px 1px 5px black;
  }
  .Buy{
      position: absolute;
      /* top:-10px; */
      right:0px;
      transform: translate(100%,-190%);
      left:500px;
      width:100px;
      background-color: transparent;
      border: 1px solid lightgreen;
     
  /* desktop */
  }
  .Buy:hover{
   background-color: lightgreen;
   color: #fff;
   transition: 0.8s ease-in-out;
 
        
 }
  .container{
      /* display: inline; */
      /* margin:15px; */
      overflow: hidden;
  }
  
  .home,input{
  
     transform: translate(500px,1px);
     margin:15px;
  
    }  
  a{
    text-decoration: none;
  }
  .home1{
      transform: translate(140px,10px);
  
  }
  
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient( to right bottom,rgba(248, 0, 116,0.8) 50%,white 90%);
    /* background-color: #111; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #000000;
    display: block;
    transition: 0.3s;
    /* text-align: center; */
  }
    
  .sidepanel a:nth-child(2):hover,
  a:nth-child(3):hover,
  a:nth-child(4):hover,
  a:nth-child(5):hover,
  a:nth-child(6):hover,
  a:nth-child(7):hover,
  a:nth-child(8):hover
  {
    color: #f1f1f1;
    background:rgb(238, 25, 78);
    transition: 0.9s ease;
  
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(12, 12, 12);
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    position: fixed;
    left: 10px;
    top: -2px;
    z-index: 1;
    /* overflow: hidden; */
    /* padding: 20px; */
  }
  
  h1{
    font-size: 25px;
    columns: #000000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  
  
 }
@media(min-width:700px)
{
 body{
   margin: 0px;
   padding:0px;
   /* background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
   /* background-image: url("bimage/b2.jpg"); */
   width: 100%;
   height: 100%;
   background-size: cover;
   background-attachment: scroll;
  overflow-x: hidden;
}
  .search{
position: relative;
left:100px;
    top:-60px;
transform: translate(100%,-100%);
font-size: 40px
}    
.box{
    border-radius:10px;
    box-shadow: 1px 1px 5px black;
    padding:5px;
    overflow: hidden;
    height: 400px;
    z-index: -1;
    
    /* width:1000px; */
   
}
.bookimg{
 width: 30%;
 height: 65%;
 transform: translate(4%,10%);
 border-radius: 0px;

}
ul,li,ul li a{
    transform: translate(22%,-80%);
    text-decoration:none;
    font-size:18px;
   list-style:none;
   font-family:arial;
   color:black;
   line-height:40px;
   /* text-align:right;  */
   
}

.product{
    border-radius:30px;
    transform: translate(10%,10%);


}
.dp{
    border-radius:30px;
    transform: translate(10%,125%);

}
.content{
    position: relative;
    margin-left: 10px;
    margin-right: 20px;
    padding:0px;
    top:90px;
    /* overflow: hidden; */
}
li span{
    color:red;
}
/* li span:hover{
    text-decoration:underline;
    transition: 3s ease;
} */
.box1{
  position: relative;
  top: -60px;
  border-radius: 5px;
    background:none;
    padding:5px;
        overflow: hidden;
        height: 400px;
        box-shadow: 1px 1px 5px black;
}
.Buy{
    position: relative;
    /* top:-10px; */
    right:0px;
    transform: translate(290%,-190%);
    left:500px;
    width:100px;
    height: 40px;
    background-color: transparent;
    border: 1px solid lightgreen;
   
}
.Buy:hover{
 background-color: lightgreen;
 color: #fff;
 transition: 0.8s ease-in-out;

      
}
.container{
    /* display: inline; */
    /* margin:15px; */
    overflow: hidden;
}
.home,input{

   transform: translate(500px,1px);
   margin:15px;

  }  
a{
  text-decoration: none;
}
.home1{
    transform: translate(140px,10px);

}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
  background:linear-gradient( to right bottom,rgba(248, 0, 116,0.8) 50%,white 90%);
  /* background-color: #111; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  /* text-align: center; */
}
  
.sidepanel a:nth-child(2):hover,
a:nth-child(3):hover,
a:nth-child(4):hover,
a:nth-child(5):hover,
a:nth-child(6):hover,
a:nth-child(7):hover,
a:nth-child(8):hover
{
  color: #f1f1f1;
  background:rgb(238, 25, 78);
  transition: 0.9s ease;

}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(12, 12, 12);
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  position: fixed;
  left: 10px;
  top: -2px;
  z-index: 1;
  /* overflow: hidden; */
  /* padding: 20px; */
}

h1{
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }


}